OPENAI_API_KEY=your_openai_api_key
LLM_MODEL=your_model_name

HUGGINGFACE_TOKEN=your_huggingface_token

DATABASE_URL=your_database_url

SECRET_KEY=your-very-long-and-random-secret-key-here

MAIL_USERNAME=mail_user_name
MAIL_PASSWORD=mail_password
MAIL_FROM=mail_from
MAIL_PORT=mail_port
MAIL_SERVER=mail_server
SUPPORT_EMAIL=support_email

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret